/* AnimPHP */
#btnControlOne,
#btnControlTwo,
#btnControlThree,
#btnControlFour,
#btnControlFive,
#btnControlSix,
#btnControlSeven,
#btnControlHeight,
#btnControlNine,
#btnControlTen,
#btnControlEleven,
#btnControlTwelve,
#btnControlThirteen,
#btnControlFourteen {
    display: none;
}

#btnControlOne:checked+label>.cardFrontDesk .cards,
#btnControlTwo:checked+label>.cardFrontDesk .cards,
#btnControlThree:checked+label>.cardFrontDesk .cards,
#btnControlFour:checked+label>.cardFrontDesk .cards,
#btnControlFive:checked+label>.cardFrontDesk .cards,
#btnControlFour:checked+label>.cardFrontDesk .cards,
#btnControlSix:checked+label>.cardFrontDesk .cards,
#btnControlSeven:checked+label>.cardFrontDesk .cards,
#btnControlHeight:checked+label>.cardFrontDesk .cards,
#btnControlFour:checked+label>.cardFrontDesk .cards,
#btnControlNine:checked+label>.cardFrontDesk .cards,
#btnControlTen:checked+label>.cardFrontDesk .cards,
#btnControlEleven:checked+label>.cardFrontDesk .cards,
#btnControlTwelve:checked+label>.cardFrontDesk .cards,
#btnControlThirteen:checked+label>.cardFrontDesk .cards,
#btnControlFourteen:checked+label>.cardFrontDesk .cards {
    transform: rotateY(180deg);
}

/* AnimJS */
#btnControlJS1,
#btnControlJS2,
#btnControlJS3,
#btnControlJS4,
#btnControlJS5,
#btnControlJS6,
#btnControlJS7,
#btnControlJS8,
#btnControlJS9,
#btnControlJS10,
#btnControlJS11,
#btnControlJS12,
#btnControlJS13,
#btnControlJS14,
#btnControlJS15 {
    display: none;
}

#btnControlJS1:checked+label>.cardFrontDesk .cards,
#btnControlJS2:checked+label>.cardFrontDesk .cards,
#btnControlJS3:checked+label>.cardFrontDesk .cards,
#btnControlJS4:checked+label>.cardFrontDesk .cards,
#btnControlJS5:checked+label>.cardFrontDesk .cards,
#btnControlJS6:checked+label>.cardFrontDesk .cards,
#btnControlJS7:checked+label>.cardFrontDesk .cards,
#btnControlJS8:checked+label>.cardFrontDesk .cards,
#btnControlJS9:checked+label>.cardFrontDesk .cards,
#btnControlJS10:checked+label>.cardFrontDesk .cards,
#btnControlJS11:checked+label>.cardFrontDesk .cards,
#btnControlJS12:checked+label>.cardFrontDesk .cards,
#btnControlJS13:checked+label>.cardFrontDesk .cards,
#btnControlJS14:checked+label>.cardFrontDesk .cards,
#btnControlJS15:checked+label>.cardFrontDesk .cards {
    transform: rotateY(180deg);
}

/* Anim Data */
#btnControlData1,
#btnControlData2,
#btnControlData3,
#btnControlData4,
#btnControlData5,
#btnControlData6,
#btnControlData7,
#btnControlData8,
#btnControlData9,
#btnControlData10 {
    display: none;
}

#btnControlData1:checked+label>.cardFrontDesk .cards,
#btnControlData2:checked+label>.cardFrontDesk .cards,
#btnControlData3:checked+label>.cardFrontDesk .cards,
#btnControlData4:checked+label>.cardFrontDesk .cards,
#btnControlData5:checked+label>.cardFrontDesk .cards,
#btnControlData6:checked+label>.cardFrontDesk .cards,
#btnControlData7:checked+label>.cardFrontDesk .cards,
#btnControlData8:checked+label>.cardFrontDesk .cards,
#btnControlData9:checked+label>.cardFrontDesk .cards,
#btnControlData10:checked+label>.cardFrontDesk .cards {
    transform: rotateY(180deg);
}

.cardFrontDesk {
    position: relative;
    min-height: 40vh;
    perspective: 2000px;
    perspective-origin: top;
}

.cards {
    position: relative;
    height: 40vh;
    width: 35vw;
    margin: 07.5rem;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    color: var(--whiteColor);
    font-weight: bold;
}

.cardF,
.cardB {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardB {
    transform: rotateY(180deg);
}


@media (min-width=800px) {
    .cards {
        object-fit: contain;
        width: 80vw;
        height: 45vh;
        background-color: aquamarine;
        margin: 2rem 0;

    }

}