#btnControlOne,#btnControlTwo,#btnControlThree,#btnControlFour{
    display: none;
}

#btnControlOne:checked + label > .cardWrapper .cards,#btnControlTwo:checked + label > .cardWrapper .cards,#btnControlThree:checked + label > .cardWrapper .cards,#btnControlFour:checked + label > .cardWrapper .cards{
    transform: rotateY(180deg);
}

.cardWrapper{
    position: relative;
    min-height: 40vh;
    perspective: 2000px;
    perspective-origin: top;
}

.cards{
    position: relative;
    height: 40vh;
    width: 35vw;
    margin: 07.5rem;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    color: var(--whiteColor);
    font-weight: bold;
}

.cardF, .cardB{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardB{
    transform: rotateY(180deg);
}