.iconResponsive {
    display: none;
    color: var(--secondaryColor);
}

.cardF,
.cardB {
    width: 45vw;
    height: 45vh;
}

.cards {
    width: 45vw;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2rem 0;
    padding-bottom: 3rem;;

}

section {
    margin: 0;

}

#cardFrontDesk {
    justify-content:space-around;
    margin: 2rem;
}


.linkDescription a {
    justify-content: flex-start;
}

.linkDescription a:hover {
    transform: translateY(15px);
}

.click {
    top:10%;
    left:20%;
    width: 12vw;
}